@import 'theme';

.position-container {
  position: absolute;
  border: 2px solid rgba($app-color, .6);
  box-shadow: $app-shadow;
  border-radius: 3px;
  width: 450px;
  top: 32px;
  right: 32px;
  color: rgba($app-color, .6);
  text-shadow: $app-shadow;

  .header {
    table {
      width: 100%;
      td, th {
        text-align: right;
        font-size: 11px;
        &.left {
          text-align: left;
        }
        &.value {
          color: mat-color($app-success);
          &.red {
            color: mat-color($app-warn, 300);
          }
        }
      }
      td {
        color: white;
      }
    }
    padding: 8px 16px 12px;
    border-bottom: 2px solid rgba($app-color, .6);
  }

  .chart-container {
    width: 100%;
    position: relative;
    height: 328px;
    padding: 5px;

    svg {
      width: 100%;
      height: 100%;
      .path {
        fill: none;
        stroke: rgba(white, .5);
        stroke-width: 3px;
        vector-effect: non-scaling-stroke;
      }
      .target-zone {
        fill: rgba($app-color, .2);
      }
      .position {
        fill: url(#gradient);
      }
    }

    .target-zone-label {
      position: absolute;
      right: 68px;
      top: 96px;
      color: rgba($app-color, .4);
      font-size: 8px;
    }
  }
}
