@import 'theme';


.login-container {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 320px;
  padding: 20px 30px;
  background: rgba($app-color, .5);
  color: white;

  .title {
    text-shadow: $app-shadow;
    margin-bottom: 15px;
  }

  .username-input {
    width: 100%;
    border: none;
    font-family: inherit;
    background: rgba(mat-color($app-success, 500), .5);
    color: white;
    font-size: 12px;
    border-radius: 4px;
    margin-right: 10px;
    height: 36px;
    padding: 0px 16px;
    margin-bottom: 15px;

    &::placeholder {
      color: rgba(255, 255, 255, .6);
    }
    &.ng-invalid {
      background: rgba(mat-color($app-warn, 500), .5);
    }
  }

  .enter {
    width: 100%;
  }
}


