<div class="controls-container">
  <div class="nav-container" [class.disabled]="!rocket || rocket.status !== RocketStatus.LAUNCHED">
    <div class="button round left" (click)="rocket.rotateLeft()">&lsaquo;</div>
    <div class="button round top" (click)="rocket.increaseThrust()">&#43;</div>
    <div class="button round bottom" (click)="rocket.decreaseThrust()">&#8722;</div>
    <div class="button round right" (click)="rocket.rotateRight()">&rsaquo;</div>
  </div>
  <div class="operational-container">
    <div class="two-buttons" *ngIf="rocket && (rocket.status == RocketStatus.READY || rocket.status == RocketStatus.LAUNCHED); else launchContainer">
      <button class="button" (click)="rocket.deploySatellite()">Deploy</button>
      <button class="button" (click)="rocket.abort()">Abort</button>
    </div>
    <ng-template #launchContainer>
      <button class="button" (click)="launchRocket()">Launch Rocket</button>
    </ng-template>
  </div>
</div>